mixin advantages()
	section.advantages
		.advantages__title
			span Фотокаталитический воздухоочиститель Daikin MCK75J-K 
			span с увлажнением (URURU) создан в рамках государственной программы 
			span уменьшения заболеваний дыхательных путей в Японии.

		.advantages__item.advantages__item--n1 Эффективно удаляет запахи, табачный дым, алергены, бактерии и вирусы в помещении.
		.advantages__item.advantages__item--n2 Уникальная технология Daikin с использованием стримерного разряда Flash Streamer.
		.advantages__item.advantages__item--n3 Многоступенчатая высокоэффективная очистка воздуха.
		.advantages__item.advantages__item--n4 Увлажнение с производительностью до 600 мл/час.