.top {
	width: 100%;
	height: 736px;
	margin-top: 60px;

	background: url(%=staticPrefixForCss=%general/top-bg.jpg) no-repeat center top;
	&--inside {
		height: 650px;
	}
	&__wrapper {
		position: relative;

		display: flex;

		align-items: flex-start;
		@extend .wrapper;
		justify-content: space-between;
	}
	&__buttons {
		position: absolute;
		bottom: -200px;
	}
	&__btn {
		width: 337px;
		height: 38px;
		margin: 0 auto 15px;

		font-family: "Calibri-Bold";
		font-size: em(15px);
		line-height: 34px;

		@extend .btn;
		&--min-width {
			width: 263px;
		}
	}
}

.top-title {
	position: absolute;
	// padding-top: 73px;
	top: -90px;

	width: 450px;

	text-transform: uppercase;

	color: $blue;

	font-family: "Calibri-Bold";
	font-size: em(24px);
	line-height: em(24px, 24px);
	span {
		display: block;

		color: #231f20;
	}
}

.top-product {
	position: relative;

	width: 500px;
	margin-top: 45px;
	padding-top: 49px;
	&--left {
		padding-left: 45px;
		.top-title {
			top: -75px;
		}
	}
	&--right {
		.top-title {
			text-align: right;
		}
		.top__buttons {
			width: 100%;
		}
	}
	&--inside {
		padding-top: 80px;
	}
	&__list {
		position: relative;

		height: 427px;
	}
	&__img {
		position: absolute;

		visibility: hidden;

		opacity: 0;

		@include transition;
		&.active {
			visibility: visible;

			opacity: 1;
		}
	}
}

.top-content {
	position: relative;

	width: 480px;
	padding-top: 120px;
	&__title {
		text-transform: uppercase;

		color: $blue;

		font-family: "Calibri-Bold";
		font-size: em(24px);
	}
	&__har {
		margin-bottom: 20px;
		strong {
			display: block;

			text-transform: uppercase;

			font-family: "Calibri-Bold";
			font-size: em(14px);
			line-height: em(14px, 14px);
		}
		span {
			display: block;

			font-size: em(12px);
		}
	}
	.top__buttons {
		bottom: -120px;
	}
	.top__btn {
		margin-bottom: 15px;
		margin-left: 0;
	}
}

.top-product-control {
	position: absolute;
	right: 100px;
	bottom: -50px;
	&__item {
		display: inline-block;

		width: 22px;
		height: 22px;
		margin-right: 6px;

		border-radius: 50%;
		&:hover {
			cursor: pointer;
		}
		&--gray {
			box-sizing: border-box;

			border: 1px solid #000;
			background: #b3bdc2;
		}
		&--black {
			background: #000;
		}
	}
}
