include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../top/top
include ../advantages/advantages
include ../scheme/scheme
include ../bottom/bottom
include ../footer/footer