include ../head/head
include ../header/header
include ../top/top
include ../top-inside/top-inside
include ../advantages/advantages
include ../scheme/scheme
include ../bottom/bottom
include ../footer/footer
include ../modal/modal