mixin header()
	header.header
		a(href="#" title="").header__logo
		.header__slogan Мы являемся официальным дилером Daikin в казахстане

		.header-phone
			.header-phone__number +7
				span(data-number="707 862 53 48") показать номер
			a(href="#" title="" data-click="modal" data-item="#modal-callback").header-phone__btn 
				span заказать звонок