mixin top-inside()
	section.top.top--inside
		.top__wrapper
			.top-product.top-product--inside
				.top-title Воздухоочиститель 
					span DAIKIN MC70L
				.top-product__list
					img(src="%=staticPrefix=%images/content/product-left-inside.png" alt="").top-product__img.active

			.top-content 
				.top-content__title ОСНОВНЫЕ ХАРАКТЕРИСТИКИ

				.top-content__har
					strong •  Большой расход воздуха: 
					span 45О МЗ/Ч* '(в режиме ТигЬо)

				.top-content__har
					strong •  Очень тихая работа: 17 дБ(А)`
					span '(в тихом режиме очистки)
					span Это позволяет использовать устройство в спальне.

				.top-content__har
					strong •  Компактный размер
					span Можно установить в любом месте.
					span Воздухоочиститель MCK75JVM-К можно поставить в любом углу помещения.

				.top-content__har
					strong •  Мобильность
					span Устройство можно легко переносить из одного помещения в другое 
					span (весит только 11 кг).

				.top-content__har
					strong •  Легкость обслуживания, легкость очистки
					span Плоская панель обеспечивает легкость ее очистки

				.top-content__har
					strong •  Моющийся и повторно используемый фльтрующий элемент

				.top-content__har
					strong ! Благодаря мощному вентилятору, воздух поступает в самые отдаленные места помещения. Обслуживаемая площадь - до 46 м2

				.top__buttons
					a(href="#" title="").top__btn 
						span Технические характеристики DAIKIN MC70L
					a(href="#" title="" data-click="modal" data-item="#modal-video").top__btn.top__btn--min-width
						span Посмотреть видео DAIKIN MC70L