.modal {
	position: absolute;
	z-index: 99;
	top: 25% !important;
	right: 0;
	left: 0;

	display: none;

	margin: auto;
	&.modal-video {
		width: 560px;
		height: 380px;
		iframe {
			width: 560px;
			height: 380px;
		}
	}
	&.active {
		display: block;
	}
}
