mixin bottom()
	section.bottom
		.bottom__wrapper
			form(action="" method="").bottom-form
				.bottom-form__title Оставьте заявку
					span и мы вам перезвоним
				input(type="text" value="" placeholder="Имя").bottom-form__field
				input(type="text" value="" placeholder="Телефон").bottom-form__field
				input(type="submit" value="ОСТАВИТЬ ЗАЯВКУ").bottom-form__submit